---
import App from "../components/App";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>Stickies</title>
  </head>
  <body class="antialiased bg-gray-50">
    <App client:only />
  </body>
</html>
